input {
  padding: 8px;
  margin-right: 10px;
  font-size: 15px;
  border-radius: 7px;
  margin-top: 20px;
  margin-bottom: 80px;
}

.add-btn, .delete-btn, .edit-btn, button{
  font-size: 18px;
  padding: 8px;
  border-radius: 7px;
  background-color: green;
  box-shadow: 3px 3px 2px grey;
  font-variant: small-caps;
}

.bountyName {
  font-size: 42px;
  text-decoration: underline crimson;
  grid-column: 1/2;
}

.list-container {
  background-color: black;
  opacity: 0.7;
  margin-left: 25%;
  margin-right: 25%;
  padding: 1%;
  border-bottom: 5px solid rgb(194, 84, 21);
}
.containerBox {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: auto auto;
  padding-top: 40px;
}

.edit-btn {
  margin-right: 18px;
  background-color: orange;
  font-size: 18px;
  box-shadow: 3px 3px 2px grey;
  border-radius: 5px;
  padding: 4px;
  grid-column: 2/3;
}

.delete-btn {
  background-color: crimson;
  font-size: 18px;
  margin-right: 18px;
  box-shadow: 3px 3px 2px grey;
  border-radius: 5px;
  padding: 4px;
  grid-column: 2/3;
}